@import 'tailwindcss';

:root {
  --primary: #000000;
  --secondary: #ffffff;
  --primary-grey: #181818;
  --secondary-grey: #bebdc2;
  --text-grey: #a9a9a9;
  --golden: #b48c50;
  --purple: #9411fd;

  --font-inter: 'Inter', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

}

/* #822659 #b48c50 #ff3d00 #ffb847 cadetblue crimson darkcyan #2596be */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #000000;
    --secondary: #ffffff;
    --primary-grey: #181818;
    --secondary-grey: #bebdc2;
    --text-grey: #a9a9a9;
    --golden: #b48c50;
    --purple: #9411fd;

    --font-inter: 'Inter', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
  }
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: var(--font-inter);
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--font-manrope);
}

html,
body {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
  display: none !important;
}

.cus-text-align {
  @apply px-[10%] text-sm;
}

.text-gradient-grey {
  @apply bg-gradient-to-r from-white to-[#ffffff4f] bg-clip-text text-transparent;
}

@layer utilities {
  .text-gradient-blue {
    background: radial-gradient(circle 300px at 30% -180%, #41D1FF 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .text-gradient-purple {
    background: radial-gradient(circle 300px at 30% -180%, #BD34FE 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

@layer utilities {
  .button-bg-gradient {
    background: radial-gradient(141.42% 141.42% at 100% 0%, #fff6, #fff0),
      radial-gradient(140.35% 140.35% at 100% 94.74%, #bd34fe, #bd34fe00),
      radial-gradient(89.94% 89.94% at 18.42% 15.79%, #41d1ff, #41d1ff00);
    box-shadow: 0 1px #ffffffbf inset;
  }

  .border-bg-gradient {
    border: 4px solid transparent;
    background: radial-gradient(141.42% 141.42% at 100% 0%, #fff6, #fff0),
      radial-gradient(140.35% 140.35% at 100% 94.74%, #bd34fe, #bd34fe00),
      radial-gradient(89.94% 89.94% at 18.42% 15.79%, #41d1ff, #41d1ff00);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  .border-bg-gradient2 {
    border: 1px solid rgba(189, 52, 254, 0.5);
    background: radial-gradient(1686.42% 113.39% at 83.25% 2.56%, #bd34fe1a, #bd34fe00);
  }

}

@keyframes fadeIn--10 {
  from {
    opacity: 0;
    transform: rotate(-10deg) scale(0.8) translateY(20px);
  }

  to {
    opacity: 1;
    transform: rotate(-10deg) scale(1) translateY(0);
  }
}

@keyframes fadeIn-20 {
  from {
    opacity: 0;
    transform: rotate(20deg) scale(0.8) translateY(20px);
  }

  to {
    opacity: 1;
    transform: rotate(20deg) scale(1) translateY(0);
  }
}

/* Repeat for each rotation value */