@import 'tailwindcss';

:root {
  --primary: #000000;
  --secondary: #ffffff;
  --primary-grey: #2f2e30;
  --secondary-grey: #bebdc2;
  --golden: #b48c50;
  --golden1: #a38c59;
  --light-pink: #e685ac;
  --pink: #f3b2cb;
  --light-green: #99ca92;
  --light-blue: #eefcfe;
  --dark-blue: #6ec3e0;
  --orange: #e46b4e;
  --light-yellow: #f2edda;
  --yellow: #e6ca11;
  --yellow-2: #f0d87d;
  --purple: #9411fd;
  --light-purple: #cd91fd;
  --dark-purple: #4d0686;
  --pink: #821c8a;
  --green: #dbe5da;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: #000000;
    --primary: #ffffff;
    --primary-grey: #bebdc2;
    --secondary-grey: #2f2e30;
    --golden: #b48c50;
  }
}

body {
  background: var(--primary);
  color: var(--secondary);
  /* font-family: var(--font-primary); */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
  display: none !important;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.cus-text-align {
  @apply px-[10%] text-sm;
}

.linearGradient {
  @apply bg-gradient-to-r from-[var(--light-purple)] to-[var(--purple)];
}

@keyframes fadeIn--10 {
  from {
    opacity: 0;
    transform: rotate(-10deg) scale(0.8) translateY(20px);
  }
  to {
    opacity: 1;
    transform: rotate(-10deg) scale(1) translateY(0);
  }
}
@keyframes fadeIn-20 {
  from {
    opacity: 0;
    transform: rotate(20deg) scale(0.8) translateY(20px);
  }
  to {
    opacity: 1;
    transform: rotate(20deg) scale(1) translateY(0);
  }
}
/* Repeat for each rotation value */
